.nav-item {
    position: relative;
    margin-left: 38px;
}
.nav-bar{
    background: #f8f9fa;
}
.navbar-brand h2{
    font-size: 40px;
    font-weight: bold;
}
.navbar-brand h2 span{
    color: #4353ff;
}

/* banner */
.banner {
    height: 100%;
    background: #4353ff;

}

.banner-left {
    background: #74b9ff;
    border-radius: 0 0 100px 0;
    height: 100%;
    background-color: #74b9ff;
    padding: 91px;
    margin-left: -74px;
}


.banner-left h4 {
    font-size: 17px;
    color: #fff;
    display: block;
    margin-bottom: 6px;
}

.banner-left h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    text-align: left;
    color: #fff;
}

.banner-left h3 {
    display: block;
    margin-top: 5px;
    font-size: 25px;
    font-weight: 400;
    color: #fff;

}

.banner-left ul {
    display: block;
    margin-top: 10px;
}

.banner-left ul li {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
    font-size: 15px;
    position: relative;
    padding-left: 15px;
    line-height: 26px;
}

.banner-left ul li::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    height: 6px;
    width: 6px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: -4px;
}
.banner-right {
    margin-top: 23px;
    background: #4353ff;
}

.banner-left p {
    color: #fff;
    display: block;
    margin-top: 15px;
}

.bn-button {
    display: block;
    margin-top: 20px;
    color: #4353ff;
}

.bn-button .Contact-btn {
    background-color: #fff;
    color: #4353ff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 4px;
    display: inline-block;
}

.video-play {
    height: 53px;
    width: 53px;
    line-height: 53px;
    border-radius: 50%;
    color: #4353ff;
    background-color: #fff;
    text-align: center;
    display: inline-block;
    margin-left: 15px;
}

.video-play a {
    text-decoration: none;
}
.nav-button{
    display: inline-block;
    margin-left: 45px;
}
.nav-button a{
    color: #4353ff;
    padding: 12px 25px;
    display: inline-block;
    background: #fff;
    border: 1px solid #F4EEFB;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

/* achivement start */
.achived {
    margin-top: 50px;
}

.achived .span1 {
    color: #4353ff;
}

.achied-left span {
    color: #74b9ff;
}

.social {
    display: inline-block;
    margin-top: 30px;
    position: relative;
    margin-bottom: 30px;
}

.social h4 {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-right: 123px;
    margin-top: 15px;
    position: relative;
    top: -16px;
}

.social h4::before {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    position: absolute;
    left: 103px;
    top: 10px;
    margin-top: 0px;
    background: #eee
}

.social ul {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.social ul li {
    display: inline-block;
    margin-right: 5px;
    list-style: none;
}

.social ul li a {
    color: #1c1d1f;
    font-size: 17px;
    position: relative;
    height: 50px;
    width: 50px;
    line-height: 30px;
    text-align: center;
    display: block;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 50%;
}

.social ul li a i {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: block;

}

.achived-box {
    border-radius: 8px;
    text-align: center;
    background: #4353ff;
    display: inline-block;
    margin-right: 15px;
    width: 100%;
    height: 100%;
    padding: 45px 10px;
}

.achived-box span {
    font-size: 30px;
    display: block;
    padding-bottom: 10px;
    color: #fff;
    font-weight: bold;
}

.achived-box h3 {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-family: monospace;
}

/* About */
.about {
    background: #f6f9fc;
    margin-top: 65px;
}

.about-text {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
    position: relative;
    padding-top: 70px;
}

.about-text h4 {
    color: #4353ff;
    display: inline-block;
    margin-bottom: 0;
    font-size: 15px;
}

.about-text h1 {
    font-size: 28px;
    margin-bottom: 18px;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    padding-bottom: 14px;
}
.about-text h1::after{
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: -1px;
    height: 2px;
    width: 50px;
    background: #4353ff;

}

.about-text p {
    font-size: 15px;
    line-height: 24px;
    color: #6e657e;
}

.about-boxleft {
    background: #74b9ff;

}

.about-boxleft img {
    margin-top: 30px;

}

.about-boxright h3 {
    font-size: 30px;
    color: #333;
    font-weight: 700;
}

.about-boxright span {
    font-size: 15px;
    color: #333;
    display: block;
    margin-top: 4px;
    font-weight: 400;
}

.about-items {
    margin-top: 30px;
}

.about-boxright {
    padding: 50px 40px 40px 40px;
    background: #fff;
    margin-bottom: 60px;
}

.about-items ul {
    border-bottom: 2px solid #4353ff;
    margin-bottom: 40px;
    position: relative;

}

.about-items ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.about-items ul li {
    text-align: center;
    margin-right: 10px;
   
}
.about-items ul li a{
    text-decoration: none;
}

.about-items ul li .active-link {
    background: #4353ff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px 4px 0 0;
    font-weight: 500;
}


.about-item .active-item {
    border: none;
    padding: 0;
    padding: 10px 25px;
    border-radius: 4px 4px 0 0;
    font-weight: 500;
}

.about-items p {
    margin-bottom: 30px;
    color: #666;
    font-size: 15px;
    line-height: 22px;
}

.detail-box ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    border: 0;
}

.detail-box ul li {
    margin-bottom: 8px;
}

.detail-box ul li span {
    font-weight: 500;
    display: inline-block;
    margin-right: 1px;
    color: #333;
}

.about-detail .button {
    margin-top: 40px;
}

.about-detail .button a {
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 30px;
    background-color: #4353ff;
    color: #fff;
    border-radius: 4px;
}

/* serives */
.servies {
    background: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
}

.servies-box {
    margin-top: 50px;
}

.servies-head {
    text-align: center;
}

.servies-head h4 {
    color: #4353ff;
    display: inline-block;
    margin-bottom: 0;
    font-size: 15px;
}

.servies-head h2 {
    font-size: 28px;
    margin-bottom: 18px;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    padding-bottom: 14px;
}

.servies-head h2::before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: -1px;
    height: 2px;
    width: 50px;
    background: #4353ff;

}

.servies-head p {
    font-size: 15px;
    line-height: 24px;
    color: #6e657e;
    font-family:sans-serif;
}

.ser-box {
    text-align: left;
    position: relative;
    padding: 130px 40px 45px 40px;
    box-shadow: 0px 5px 35px #0000000d;
    border-radius: 5px;
    background: #fff;
    margin: 15px 0;
}

.ser-box span {
    font-size: 25px;
    position: absolute;
    left: 40px;
    top: 40px;
    height: 65px;
    width: 65px;
    line-height: 65px;
    text-align: center;
    color: #fff;
    background: #4353ff;
}

.ser-box h3 {
    color: #333;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
}

.ser-box p {
    margin-top: 20px;
    line-height: 24px;
    font-size: 15px;
    font-family: sans-serif;
    color: #6e657e;
}

/* Education */
.education {
    background: #f6f9fc;
}

.education-text {
    margin-bottom: 60px;
    text-align: center;
    padding-top: 80px;
}

.education-text h4 {
    color: #4353ff;
    display: inline-block;
    margin-bottom: 0;
    font-size: 15px;
}

.education-text h2 {
    font-size: 28px;
    margin-bottom: 18px;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    padding-bottom: 14px;
}

.education-text h2::before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: -1px;
    height: 2px;
    width: 50px;
    background: #4353ff;

}

.education-box {
    padding-left: 30px;
    margin-right: 15px;
    margin-left: 15px;
}

.education-text p {
    font-size: 15px;
    line-height: 24px;
    color: #6e657e;
    font-family:sans-serif;
}

.education-box h3 {
    font-size: 30px;
    color: #333;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 40px;
}

.education-box span {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    font-weight: 500;
    line-height: 14px;
    font-size: 12px;
    color: #fff;
    background: #4353ff;
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
}

.edu-detail {
    background: #fff;
    position: relative;
    margin-bottom: 30px;
    padding: 40px 40px;
    box-shadow: 0px 0px 10px #00000014;
    border-radius: 3px;

}

.detail-head {
    border-bottom: 2px solid #eeeeee3d;
    padding-bottom: 30px;
    margin-bottom: 25px;
    position: relative;
}

.detail-head .icon-box1 {
    height: 70px;
    width: 70px;
    background: #fff;
    color: #4353ff;
    line-height: 68px;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    bottom: 18px;
    box-shadow: 5px 5px 15px #8e8e8e14;
}

.detail-head .icon-box {
    position: absolute;
    color: #9b9b9b;
    bottom: 20px;
    font-size: 50px;
    right: 20px;
    opacity: .1;
}

.detail-text {
    padding-left: 95px;
    padding-top: 12px;
}

.detail-text h4 {
    color: #444;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;

}

.detail-text p {
    font-family:sans-serif;
    color: #6e657e;
    font-size: 13px;
}

.edu-detailend h5 {
    color: #979797;
    line-height: 25px;
    margin-bottom: 25px;
}

.edu-detailend p {
    color: #979797;
    line-height: 25px;
}

/* PRICING */
.pricing-head {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.pricing-head h4 {
    color: #4353ff;
    margin-bottom: 0;
    font-size: 15px;
}

.pricing-head h2 {
    font-size: 28px;
    margin-bottom: 18px;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    padding-bottom: 14px;

}

.pricing-head h2::before {
    content: "";
    position: absolute;
    background: #4353ff;
    width: 50px;
    left: 50%;
    margin-left: -25px;
    bottom: -1px;
    height: 2px
}

.pricing-head p {
    font-size: 15px;
    line-height: 24px;
    font-family:sans-serif;
    color: #6e657e;

}

.pricing-box {
    background: #fff;
    text-align: center;
    position: relative;
    padding: 60px 20px;
    box-shadow: 0px 0px 10px #00000014;

}

.pricing-box h4 {
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
    color: #081828;
}

.pricing-box h4 span {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #888;
}

.cost-box {
    height: 120px;
    width: 120px;
    display: inline-block;
    border: 1px dashed #74b9ff;
    border-radius: 50%;
    margin: 20px 0;
}

.cost-box h5 {
    position: relative;
    color: #333;
    font-size: 35px;
    display: inline-block;
    margin: 45px 0;
    font-weight: 600;
    line-height: 28px;

}

.cost-box h5 sub {
    color: #555;
    font-size: 17px;
    font-weight: 400;
    position: absolute;
    left: -14px;
    top: -7px;
}

.cost-box h5 span {
    color: #888;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    right: -25px;
    bottom: -6px;
}

.pricing-box ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.pricing-box ul li {
    color: #444;
    margin-bottom: 10px;
    font-size: 14px;
    font-family:sans-serif;
}

.pricing-box button {
    margin-top: 30px;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 500;
    background-color: #4353ff;
    color: #fff;
    border-radius: 4px;
    padding: 15px 30px;
}

.pricing-box button a {
    text-decoration: none;
    color: #fff;

}

.pricing-box .Popular {
    color: #fff;
    background: #4353ff;
    display: inline-block;
    padding: 6px 23px;
    position: absolute;
    right: -17px;
    top: 15px;
    font-size: 13px;
    transform: rotate(45deg);
}

/* portfolio */

.portfolio {
    margin-top: 70px;
    background-color: #f6f9fc;
}

.portfolio-head {
    text-align: center;
    padding-top: 60px;
}

.portfolio-head h4 {
    color: #4353ff;
    margin-bottom: 10px;
    font-size: 15px;
}

.portfolio-head h2 {
    font-size: 28px;
    margin-bottom: 18px;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    padding-bottom: 14px;
}

.portfolio-head h2::after {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: -1px;
    height: 2px;
    width: 50px;
    background: #4353ff;
    content: "";
}

.portfolio-head p {
    font-size: 15px;
    line-height: 24px;
}

.port-box {
    border-radius: 0;
    overflow: hidden;
    margin-bottom: 30px;
}

.port-content {
    margin-top: 15px;
}

.port-content p {
    font-size: 14px;
    color: #9b9ba7;
    font-weight: 300;
}

.port-content h4 {
    font-weight: 600;
    color: #081828;
    font-size: 25px;
    padding-top: 6px;
}

.rw-box {
    margin-top: 50px;
}

/* TEAM */
.team {
    padding-bottom: 70px;
}

.team-head {
    text-align: center;
    padding-top: 60px;
    position: relative;
}

.team-head h4 {
    color: #4353ff;
    margin-bottom: 10px;
    font-size: 15px;

}

.team-head h2 {
    font-size: 28px;
    margin-bottom: 18px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 14px;

}

.team-head h2::after {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: 70px;
    height: 2px;
    width: 50px;
    background: #4353ff;
    content: "";
}

.team-head p {
    font-size: 15px;
    line-height: 24px;

}

.team-box {
    margin-top: 30px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.team-box .image img {
    border-radius: 50%;
    overflow: hidden;
}

.team-content {
    margin-top: 20px;
}

.team-content h3 {
    font-size: 17px;
    color: #333;
    margin-bottom: 3px;
}

.team-content p {
    color: #666;
    font-size: 13px;
}

.team-social {
    margin-top: 15px;
}

.team-social ul {
    border: 1px solid #d2d2d24a;
    padding: 12px 30px;
    border-radius: 30px;
}

.team-social ul li {
    display: inline-block;
    margin-right: 15px;
}

.team-social ul li a {
    color: #999;
    display: block;
    font-size: 14px;
    text-decoration: none;
}

/* testimonials */
.testimonial{
    background: #4353ff;

}
.testimonial-head{
    text-align: center;
    padding-top: 60px;
}
.testimonial-head h4{
    font-size: 15px;
    color: #fff;
    
}
.testimonial-head h2{
    color: #fff;
    font-size: 28px;
    margin-bottom: 18px;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    padding-bottom: 14px;

}
.testimonial-head h2::after{
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: -1px;
    height: 2px;
    width: 50px;
    background: #fff;
   
}
.testimonial-head p{
    font-size: 15px;
    line-height: 24px;
    color: #fff;
}
.review-card{
    width: 100%;
    position: relative;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #eee;
    background-color: #f6f9fc;
    border-radius: 8px;
    line-height: 20px;

}
.review-icon{
    margin-bottom: 20px;
}
.review-icon i{
    display: inline-block;
    margin-right: 3px;
}
.card-body i{
    font-size: 30px;
    color: #4353ff;

}
.card-body p{
    font-size: 17px;
    font-family: sans-serif;
    color: #6e657e;
}
.testimonial-bottom{
    position: relative;
    margin-top: 40px;
}
.client-image{
    margin-right: 20px;
}
.client-image img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-right: 22px;
    float: left;
}
.testimonial-bottom h1{
    font-size: 18px;
    position: relative;
    top: 20px;
    font-weight: 500;
}
.testimonial-bottom h1 span{
    font-size: 14px;
    display: block;
    margin-top: 5px;
    color: #888;
    font-weight: 400;
}
.review-card {
    margin-top: 50px;
    margin-bottom: 60px;
} 


/* BLOG */
.blog {
    margin-top: 50px;
}
.blog-head {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}

.blog-head h4 {
    color: #4353ff;
    margin-bottom: 10px;
    font-size: 15px;
}

.blog-head h2 {
    font-size: 28px;
    margin-bottom: 18px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 14px;
}

.blog-head h2::after {
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: 70px;
    height: 2px;
    width: 50px;
    background: #4353ff;
    content: "";
}

.blog-head p {
    font-size: 15px;
    line-height: 24px;
}

.blog-box {
    position: relative;
    overflow: hidden;
}

.blog-box .image img {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 4px;
}

.blog-text {
    background: #fff;
    padding: 30px;
    position: relative;
    top: -25px;
    box-shadow: 0px 0px 10px #00000014;
    margin: 0px 15px;
    border-radius: 4px;
}

.blog-text span {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 5px;

}

.blog-text h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 22px;

}

.blog-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    font-family:  sans-serif;
    color: #6e657e;
}
/* Newsletter */
.letter {
    background: #4353ff;
    margin-top: 50px;
}
.letter-box {
    background-color: #fff;
    color: #fff;
    padding: 40px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #00000014;;
}

.letter-box1 {
    background-color: #fff;
    height: 100%;
    width: 100%;
    padding: 40px;
    box-shadow: 0px 0px 10px #00000014;
    border-radius: 5px;
}
.letter-box h3{
    color: #081828;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 28px;
}
.letter-box p{
    margin-bottom: 50px;
    font-family: sans-serif;
    color: #6e657e;
    font-size: 15px;
    line-height: 22px;
}
.form-box{
    height: 53px;
    width: 64%;
    border: none;
    background-color: #fff;
    color: #081828;
    border-radius: 5px;
    padding: 0px 30px;
    border: 1px solid #eee;
    margin-bottom: 15px;
}
 .letter-box button{
    font-weight: 500;
    padding: 15px 30px;
    background-color: #4353ff;
    color: #fff;
    border: none;
    border-radius: 4px;
 }
 .letter-box button a{
    color: #fff;
    text-decoration: none;
 }
 .letter-box1 h3{
    color: #081828;
    margin-bottom: 20px;
    display: block;
    font-size: 20px;
    line-height: 28px;
}
 .letter-box1 p{
    font-size: 15px;
    font-family:  sans-serif;
    color: #6e657e;
    line-height: 20px;
 }
 .letter-box1 button{
    margin-top: 25px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 30px;
    background-color: #4353ff;
    border: none;
    border-radius: 4px;
}
.letter-box1 button a{
    color: #fff;
    text-decoration: none;
} 
.rw-frombox {
    padding: 55px;
}

/* client logo */
.client{
    background: #F9FAFF;
    padding: 50px 0;
}
/* footer */
.footer{
    background-color: #081828;
}
.footleft-box {
    margin-top: 30px;
}
.footer-head{
    padding-bottom: 60px;
    padding-top: 70px;
}
.footleft-box h2{
    margin-bottom: 25px;
    color: #fff;
    font-size: 40px;
}
.footer-social ul{
    list-style-type: none;
}
.footer-social ul li{
    display: inline-block;

}
.footer-social ul li a{
    font-size: 17px;
    color: #333;
    height: 45px;
    width: 45px;
    text-align: center;
    display: block;
    line-height: 45px;
   text-decoration: none;
    border: none;
    color: #fff;
   
}
.foot-box{
    margin-top: 30px;
}
.foot-box h2{
    font-size: 20px;
   color: #fff;
    position: relative;
    margin-bottom: 30px;
    font-weight: 500;
    border-left: 3px solid #4353ff;
    padding-left: 10px
}
.foot-box ul{
    list-style-type: none;
}
.foot-box ul li{
    margin-bottom: 22px;
    color: #fff;
}
.foot-box ul li a{
    display: inline-block;
    color: #f3f1fdc9;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}
/* footer-copy */
.copy-head{
    padding: 50px;
    border-top: 1px solid  #6e657e;;
    text-align: center;
}
.footer-copy{
    background-color: #081828;

}
.copy-box h3{
    color: #fff;
    font-size: 15px;

}