.nav-item{
    position: relative;
    margin-left: 38px;
}
/* banner */
.banner {
    height: 100%;
    position: relative;
    background: #4353ff;
    z-index: 5;
}
.banner::before{
    position: absolute;
    content: "";
    left: 0;
    width: 50%;
    background: #74b9ff;
    border-radius: 0 0 100px 0;
    height: 100%;
    top: 0;
    z-index: -1;
}
.banner::before{

}

.banner-left {
    margin-top: 120px;
    display: inline-block;
    position: relative;
}

.banner-left h4 {
    font-size: 17px;
    color: #fff;
    display: block;
    margin-bottom: 6px;
}

.banner-left h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    text-align: left;
    color: #fff;
}
.banner-left h3{
    display: block;
    margin-top: 5px;
    font-size: 25px;
    font-weight: 400;
    color: #fff;

}
.banner-left ul{
    display: block;
    margin-top: 10px;
}
.banner-left ul li{
    display: inline-block;
    color: #fff;
    margin-right: 10px;
    font-size: 15px;
    position: relative;
    padding-left: 15px;
    line-height: 26px;
}
.banner-left ul li::before{
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    height: 6px;
    width: 6px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: -4px;
}
.banner-left p{
    color: #fff;
    display: block;
    margin-top: 15px;
}
.bn-button{
    display: block;
    margin-top: 20px;
    color: #4353ff;
    margin-right: 20px;
}
.bn-button .Contact-btn{
    background-color: #fff;
    color: #4353ff;
    margin-right: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 4px;
    display: inline-block;
}
.video-play {
    height: 53px;
    width: 53px;
    line-height: 53px;
    border-radius: 50%;
    color: #4353ff;
    background-color: #fff;
    text-align: center;
    display: inline-block;
    position: relative;
}
.video-play a{
    text-decoration: none;
}
/* achivement start */
.achived{
    margin-top: 50px;
}
 .achived .span1{
    color: #4353ff;
}
.achied-left span{
    color: #74b9ff;
}
.social{
    text-align: right;
    display: block;
    display: inline-block;
    margin-top: 30px;
    position: relative;
}
.social h4{
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-right: 123px;
    margin-top: 15px;
    position: relative;
    top: -16px;
}
.social h4::before{
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    position: absolute;
    left: 103px;
    top: 10px;
    margin-top: 0px;
    background: #eee
}
.social ul {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.social ul li{
    display: inline-block;
    margin-right: 5px;
    list-style: none;
}
.social ul li a{
    color: #1c1d1f;
    font-size: 17px;
    position: relative;
    height: 50px;
    width: 50px;
    line-height: 30px;
    text-align: center;
    display: block;
    transition: all 0.4s ease;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 50%;
}
.social ul li a i{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: block;
    
}
.achived-box{
    border-radius: 8px;
    text-align: center;
    background: #4353ff;
    display: inline-block;
    margin-right: 15px;
    width: 158px;
    height: 156px;
    padding: 45px 10px;
}
.achived-box span{
    font-size: 30px;
    display: block;
    padding-bottom: 10px;
    color: #fff;
    font-weight: bold;
}
.achived-box h3{
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-family: monospace;
}
/* About */
.about-text{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
    padding: 0 300px;
    position: relative;
}
.about-text span{
    color: #4353ff;
    display: inline-block;
    margin-bottom: 0;
    font-size: 15px;
}
.about-text h1{
    font-size: 37px;
    margin-bottom: 18px;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    padding-bottom: 14px;
}
.about-text p{
    font-size: 15px;
    line-height: 24pxb;
    color: #6e657e;
}
.about-boxleft{
     background: #74b9ff;

}
.about-boxleft img{
    margin-top: 30px;

}
.about-boxright h3{
    font-size: 30px;
   color: #333 ;
   font-weight: 700;
}
.about-boxright span{
    font-size: 15px;
    color: #333;
    display: block;
    margin-top: 4px;
    font-weight: 400;
}
.about-items{
    margin-top: 30px;
}