@media(max-width:576px){
    .banner-left{
        background-color: #4353ff;
    }
    .banner-right img{
        display: none;

    }

}
/* @media(max-width:1024px){
    .team-head p {
        font-size: 15px;
        line-height: 24px;
        padding: 0 300px;
    
    }
} */