@media (max-width: 576px){
			
			
} 
@media (min-width: 768px){
    .container{
        width: 100%;
    }
    

}
@media (max-width:768px){
    .container{
        width: 100%;
    }

}
@media (max-width:992px){
    .col-6{
        width: 100%;
    }
    .right-text{
        background-image: linear-gradient(rgb(158 158 158 / 49%), #9e9e9eb3),url(../images/about.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }
    .right-text h2, .right-text p{
        color: #fff;
    }
    .left-image img{
        display: none;
    }
}
@media (min-width: 992px){
    .container{
        width: 990px;
    }
}
@media (min-width: 1120px){
    .container{
        width: 1140px;
    }
}  
/* /pricing// */

@media (min-width: 1024px){
 .pricing-head p {
    width: 50%;
    margin: 15px auto 0 auto;
    font-weight: 600;
}

/* @media (min-width: 768px){
.banner {
    height: 100vh;
} */


